wp-admin/error_log
node_modules/
.htaccess
config.json
.env
error_log*
# Ignore specific WordPress themes
wp-content/themes/twentytwentyfive/
wp-content/themes/twentytwentyfour/
wp-content/themes/twentytwentytwo/
